.register {
    font-weight: bold;
    color:black;
    margin: auto;
    padding: 1rem;
}
.form-conatainer{
    display: flex;
    align-items: center;
    flex-direction: column ;   

}



.nav-text{
    font-size: 23px;
    color:rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
.heading{
    font-size: 3rem;
    font-weight: 900;
}
.form{
    position: absolute;
    left: 400px;
}
a{
    color:#8BBCCC !important;
}
.linkPage-span{
    font-weight: 400 !important;
    color: #000 !important;
    font-size: 40px;
    display: inline-block;
}
.eachLink{
    background-color: aqua;
    width: fit-content;
    height: fit-content;
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.eachLink:hover{
    /* box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white; */
    background-size: 0 3px, 100% 3px;
  
}
.regLogin {
    position: ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    min-width: 400px;
    max-width: 500px;
}

a  {
    color: rgb(255, 255, 255);
}
a:focus{
    color:rgba(91, 247, 0, 0.71)
}
a:hover{
    color: pink;
}

#regLogin{
width: 100% !important;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}


input[type="email"],
input[type="text"],
input[type="password"],
textarea {
    background-color: #0f91bc !important;
width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

x
label,
button {
  margin-top: 1rem;
  font-weight: 300 !important;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    font-weight: 200;
    width: 100% !important;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    height: 40px;
   
    width: 100%;
    border: 2px solid black;
    position: relative;
}
.line >a {
    font-size: 20px;
    text-decoration: none;
    left: 100px;
    position: absolute;

    color:rgb(0, 0, 0) !important;
}
.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}



.navbar-collapse .collapse .show{
    height: 100%;
}

.teachers {
    display: flex;
    flex-wrap:  wrap;
    justify-content:space-evenly;
    align-items:center;
  }

  .PendingMovieCard{
    max-height: 1000px;
  }